version/vivado/CortexM0_SoC
version/modelsim
version/keil/*.axf
version/keil/*.d
version/keil/*.lnp
version/keil/*.sct
version/keil/*.uvprojx
version/keil/*.iex
version/keil/*.htm
version/keil/*.dep
version/keil/*.o
version/keil/*.crf
version/keil/*.73474
version/keil/*.scvd
version/keil/*.uvoptx
version/keil/*.txt
version/keil/Listings
version/keil/Objects
version2/vivado/CortexM0_SoC
version2/modelsim
version2/keil/*.axf
version2/keil/*.d
version2/keil/*.lnp
version2/keil/*.sct
version2/keil/*.uvprojx
version2/keil/*.iex
version2/keil/*.htm
version2/keil/*.dep
version2/keil/*.o
version2/keil/*.crf
version2/keil/*.73474
version2/keil/*.scvd
version2/keil/*.uvoptx
version2/keil/*.txt
version2/keil/Listings
version2/keil/Objects