vivado/CortexM0_SoC
modelsim
keil/*.axf
keil/*.d
keil/*.lnp
keil/*.sct
keil/*.uvprojx
keil/*.iex
keil/*.htm
keil/*.dep
keil/*.o
keil/*.crf
keil/*.73474
keil/*.scvd
keil/*.uvoptx
keil/*.txt
keil/Listings
keil/Objects